@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

.App {
    font-family: 'Source Sans Pro', sans-serif;
}
.company-div {
  background-color: #efddc1;
}

.participant-div {
  background-color: #f7f5f3;
}

.submit-button {
  background-color: #563b3f !important;
  color: white !important;
}
